#top, #bottom, #left, #right {
    background: #838383;
    position: fixed;
}
            
#left, #right {
    top: 0; bottom: 0;
    width: 12px;
}
            
#left { 
    left: 0; 
}
#right { 
    right: 0; 
}

#top, #bottom {
    left: 0; right: 0;
    height: 12px;
}
            
#top { top: 0; }
#bottom { bottom: 0; }  

body{
    
}